{% extends 'base.html' %}

{% block title %}Edit User {% endblock %}

{% block content %}

<h2>Edit a user</h2>
<form action="/users/{{user.id}}/edit" method="POST">
    <label for="first-name">First Name:</label>
    <input type="text" name="first-name" id="first-name" placeholder="Enter a first name">
    <br><label for="first-name">Last Name:</label>
    <input type="text" name="last-name" id="last-name" placeholder="Enter a last name">
    <br><label for="first-name">Image URL:</label>
    <input type="text" name="user-image" id="user-image" placeholder="Provide an image of this user">
    <br>
    <button>save</button>
  </form>

  <form action="/users/{{user.id}}">
    <button>cancel</button>
  </form>
  
 
  


{% endblock %}