{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<h2>Add Post for {{user.first_name}} {{user.last_name}}</h2>

  <form action="/users/{{user.id}}/posts/new" method="POST">

    <label for="title">Title:</label>
    <input type="text" name="title" id="title" placeholder="Enter title">
    <br>
    <label for="content">Content:</label>
    <input type="text" name="content" id=content" placeholder="Once upon a time...">
    <button>Add</button>
  </form>
  <form action="/users/{{user.id}}">
    <button>Cancel</button>
  </form>

{% endblock %}